@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@500&family=Orbitron:wght@500&display=swap');


:root {
    --main-color: #fbbd44;
    --primary-color: rgb(11, 78, 179);
    --black:#FDF8F5;
    --border: .1rem solid rgba(255,255,255,0.3);
    --footer-padding: 10px 7% 50px 7%;
    --header-footer-color: #13131a;
    --btn-color: beige;
    --main-section-padding: 50px 7%;
}
.gradient-custom {
    /* fallback for old browsers */
    background: #f6d365;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
}
*{
  padding: 0;
  margin: 0;  
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'El Messiri', sans-serif;
}
html{
    scroll-behavior: smooth;
}

.btns-group {
  margin-top:  60px ;
  margin-right: 100px;
  
}

.drop-down-list {
  width:340px; 
  height: 45px;
}

.form-sub-title {
  font-size: 24px;
}

.special-heading{
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}
.special-heading +p{
    margin:-30 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}
@media(mac-width : 767px){
    .special-heading{
        font-size:60px;
    }
    .special-heading +p{
        margin-top: -20px;
    }
}
.container{
    width:600px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/* Small Screen */
@media (min-width: 768px){
    .container{
        width : 750px;
    }
}
/* Start Header */
.navbar {
  background: var(--header-footer-color);
  width: 100%;
  height: 95px;
  margin: 0;
  padding: var(--footer-padding);
  position: fixed;
  top:0;
  z-index: 1;
  
}
.logo {
  margin-right: 30px;
  cursor: pointer;
  font-size: 35px;
  color: var(--main-color);
  display: inline-block;
  
}
.navbar ul {
  float: left;
}
.navbar ul li {
  display: inline-block;
  margin:0 5px;
  line-height: 80px;
}
.navbar ul li a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 7px 13px;
    border-radius: 3px;
}
.navbar ul li a:hover {
  color: white;
  cursor: pointer;
  transition: .5s;
  background: #55b5ff;
}

.navbar .button-content {
  float: right;
}

.checkbtn {
  font-size: 30px;
  color:white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
  margin-right: 40px;
  float: right;
}
#check{
  display: none;

}
/* End Header */

.btn-logout{
    background-color: var(--main-color);
    border-radius: 80px;
    color:white;    
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    border: 0.1px solid #363636;
    font-weight: 400;
    margin: 0 5px;
}
.btn-logout:hover {
    background-color: white;
    color: black;
    border: 0.1px solid var(--primary-color);
}
#profile{
    margin-left: 10px;
    font-size: 22px;
    color: white;
}

#profile:hover {
    transform: scaleY(1);
    color:var(--btn-color);
    cursor: pointer;
}


/* Start Main Section */
.main-section {
    padding: var(--main-section-padding);
    width: 100%;
    height: 700px;
    margin-bottom: 100px;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  display: grid;
  place-items: center;
  min-height: 100vh;
}
/* Global Stylings */
label {
  display: block;
  margin-bottom: 0.5rem;
}

input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.width-50 {
  width: 50%;
}

.ml-auto {
  margin-left: auto;
}

.text-center {
  text-align: center;
}

/* Progressbar */
.progressbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  counter-reset: step;
  margin: 2rem 0 4rem;
}

.progressbar::before,
.progress {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  background-color: #dcdcdc;
  z-index: -1;
}

.progress {
  background-color: var(--primary-color);
  width: 0%;
  transition: 0.3s;
}

.progress-step {
  width: 2.1875rem;
  height: 2.1875rem;
  background-color: #dcdcdc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-step::before {
  counter-increment: step;
  content: counter(step);
}

.progress-step::after {
  content: attr(data-title);
  position: absolute;
  top: calc(100% + 0.5rem);
  font-size: 0.85rem;
  color: #666;
}

.progress-step-active {
  background-color: var(--primary-color);
  color: #f3f3f3;
}

/* Form */
.form {
  width: 850px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 0.35rem;
  padding: 1.5rem;
}

.form-step {
  display: none;
  transform-origin: top;
  animation: animate 0.5s;
  width: 700px;
}

.form-step-active {
  display: block;
}

.input-group {
  margin: 2rem 0;
}

@keyframes animate {
  from {
    transform: scale(1, 0);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

/* Button */
.btns-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.btn {
  padding: 0.75rem;
  display: block;
  text-decoration: none;
  background-color: var(--primary-color);
  color: #f3f3f3;
  text-align: center;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
}


/* End Main Section  */

/* Start About Section */
/* Start About Section */
.about{
    padding-top: 60px;
    padding-bottom: 60px;
}
.about .about-content{
    margin-top: 100px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width: 991px){
    .about .about-content{
        flex-direction:column;
        text-align:center;

    }
}
.about .about-content .image{
    position: relative;
    width: 250px;
    height: 375px;
}
@media (max-width: 991px){
    .about .about-content .image{
        margin: 0 auto 60px;
    }
}
.about .about-content .image img{
    max-width: 100%;
    height: 300px;
}
.about .about-content .image::before{
    content: "";
    position: absolute;
    background-color:#ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}
.about .about-content .image::after{
    content: "";
    position: absolute;
    width: 120px;
    height:300px;
    border-left: 60px solid var(--main-color);
    border-bottom: 80px solid var(--main-color); 
    z-index: -1;
    right: -150px;
    top: -40px ;
}
@media (max-width: 991px){
    .about .about-content .image::after,
    .about .about-content .image::before{
        display: none;
    }
}
.about .about-content .text{
    flex-basis: calc(100% - 500px);
    flex: 1;
    padding-left: 200px;
}
.about .about-content .text p:first-of-type{
    font-weight: bold;
    line-height:2;
    margin-bottom: 50px;
}
.about .about-content .text hr{
    width:50%;
    display: inline-block;
    border-color: var(--main-color);
}
.about .about-content .text p:last-of-type{
    line-height: 2 ;
    color: #777;
}

/* Medium Screen */
@media(min-width: 992px){
    .container{
        width: 970px;
    }
}
/* Large Screen */
@media (min-width:1200px){
    .container{
        width: 1170px;
    }
}
/* End About Section */
/* End About Section */

/* footer section starts */
.footer {
    position: fixed;
    padding: var(--footer-padding);
    bottom: 0;
    width: 100%;
    height: 60px;
    background: var(--header-footer-color);
    display: flex;
    justify-content: space-between;
}



.footer .share a {
 
    color: var(--main-color);
    border: var(--border);
    border-radius: 50%;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 18px;
    margin-right: 10px;
    font-weight: 500;
}

.footer .share a:hover {
    background-color: var(--btn-color);
    color: var(--bg);
}

.footer .credit {
    font-size: 18px;
    color: white;
    font-weight: lighter;
    font-weight: 300;

}

.footer .credit span {
    color: var(--main-color);
    font-weight: 500;
}
/* footer section ends */



/* Media Quire */
@media (max-width: 953px){
  .navbar {
    padding: 10px 30px;
  }
  .logo {
    font-size: 30px;
    
    
  }
  .navbar ul li a {
    font-size: 16px;
  }
  .navbar .button-content {
    display: none;
  }

  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 95px;
    left: -100%;
    text-align: center;
    z-index: 1;
    transition: all .5s;
  }
  .navbar ul li {
    display: block;
  }
  .navbar ul li a {
    font-size: 20px;
  }
  
  /* #check:checked ~ ul {
    left: 0;
  } */
  
}